In [61]:
import json
import pandas as pd

symbols = None
for ch in range(ord('a'), ord('z') + 1):
    letter = chr(ch)
    before = symbols.shape if symbols is not None else None
    first, last, count = 0, 5000, 50
    for start in range(first, last, count):
        path = f'../yahoo/lookup/{letter}/yahoo_symbols_{start}_{start+count}.json'
        with open(path) as f:
            js = json.load(f)
            docs = js['finance']['result'][0]['documents']
            if len(docs) != 50:
                print(f'UH OH, only got {len(docs)} records in {path}')
                break
            df = pd.DataFrame.from_records(docs)
            symbols = df if symbols is None else pd.concat([symbols, df])
            symbols = symbols.drop_duplicates(subset=['symbol'])
    after = symbols.shape
    if before is not None:
        print(f'Loaded "{letter}", {before}, deduped to {after} (diff: {after[0] - before[0]})')
symbols = symbols.set_index('symbol')
symbols.info

Loaded "b", (4263, 10), deduped to (8540, 10) (diff: 4277)
Loaded "c", (8540, 10), deduped to (12180, 10) (diff: 3640)
Loaded "d", (12180, 10), deduped to (15661, 10) (diff: 3481)
Loaded "e", (15661, 10), deduped to (18784, 10) (diff: 3123)
Loaded "f", (18784, 10), deduped to (21666, 10) (diff: 2882)
Loaded "g", (21666, 10), deduped to (24291, 10) (diff: 2625)
Loaded "h", (24291, 10), deduped to (26721, 10) (diff: 2430)
Loaded "i", (26721, 10), deduped to (28201, 10) (diff: 1480)
UH OH, only got 36 records in ../yahoo/lookup/j/yahoo_symbols_2600_2650.json
Loaded "j", (28201, 10), deduped to (29983, 10) (diff: 1782)
UH OH, only got 23 records in ../yahoo/lookup/k/yahoo_symbols_4600_4650.json
Loaded "k", (29983, 10), deduped to (33047, 10) (diff: 3064)
Loaded "l", (33047, 10), deduped to (34558, 10) (diff: 1511)
Loaded "m", (34558, 10), deduped to (36109, 10) (diff: 1551)
Loaded "n", (36109, 10), deduped to (38215, 10) (diff: 2106)
Loaded "o", (38215, 10), deduped to (39788, 10) (diff: 1573)
Loaded "p", (39788, 10), deduped to (40650, 10) (diff: 862)
UH OH, only got 32 records in ../yahoo/lookup/q/yahoo_symbols_850_900.json
Loaded "q", (40650, 10), deduped to (41161, 10) (diff: 511)
Loaded "r", (41161, 10), deduped to (42751, 10) (diff: 1590)
Loaded "s", (42751, 10), deduped to (43332, 10) (diff: 581)
Loaded "t", (43332, 10), deduped to (44052, 10) (diff: 720)
UH OH, only got 21 records in ../yahoo/lookup/u/yahoo_symbols_3550_3600.json
Loaded "u", (44052, 10), deduped to (45839, 10) (diff: 1787)
UH OH, only got 0 records in ../yahoo/lookup/v/yahoo_symbols_950_1000.json
Loaded "v", (45839, 10), deduped to (45941, 10) (diff: 102)
UH OH, only got 35 records in ../yahoo/lookup/w/yahoo_symbols_4300_4350.json
Loaded "w", (45941, 10), deduped to (48177, 10) (diff: 2236)
UH OH, only got 21 records in ../yahoo/lookup/x/yahoo_symbols_950_1000.json
Loaded "x", (48177, 10), deduped to (48757, 10) (diff: 580)
UH OH, only got 28 records in ../yahoo/lookup/y/yahoo_symbols_1950_2000.json
Loaded "y", (48757, 10), deduped to (49876, 10) (diff: 1119)
UH OH, only got 40 records in ../yahoo/lookup/z/yahoo_symbols_1800_1850.json
Loaded "z", (49876, 10), deduped to (50839, 10) (diff: 963)

<bound method DataFrame.info of                    industryName  \
symbol
AAPL                 Technology
AMZN          Consumer Cyclical
AMD                  Technology
GOOG     Communication Services
F             Consumer Cyclical
...                         ...
IZ.V            Basic Materials
IR75.VI                     NaN
22Z.BE               Healthcare
ZCT1.BE      Financial Services
ZAL1.DU       Consumer Cyclical

                                              industryLink  \
symbol
AAPL           https://finance.yahoo.com/sector/technology
AMZN     https://finance.yahoo.com/sector/consumer_cycl...
AMD            https://finance.yahoo.com/sector/technology
GOOG     https://finance.yahoo.com/sector/communication...
F        https://finance.yahoo.com/sector/consumer_cycl...
...                                                    ...
IZ.V      https://finance.yahoo.com/sector/basic_materials
IR75.VI                                                NaN
22Z.BE         https://finance.yahoo.com/sector/healthcare
ZCT1.BE  https://finance.yahoo.com/sector/financial_ser...
ZAL1.DU  https://finance.yahoo.com/sector/consumer_cycl...

                    regularMarketPercentChange  \
symbol
AAPL       {'raw': 0.33903462, 'fmt': '0.34%'}
AMZN        {'raw': 1.3403072, 'fmt': '1.34%'}
AMD       {'raw': -2.1777453, 'fmt': '-2.18%'}
GOOG      {'raw': 0.040335704, 'fmt': '0.04%'}
F         {'raw': -2.3558078, 'fmt': '-2.36%'}
...                                        ...
IZ.V     {'raw': -15.624994, 'fmt': '-15.62%'}
IR75.VI  {'raw': -0.60679847, 'fmt': '-0.61%'}
22Z.BE   {'raw': -0.11553178, 'fmt': '-0.12%'}
ZCT1.BE     {'raw': -3.33334, 'fmt': '-3.33%'}
ZAL1.DU     {'raw': 3.6458273, 'fmt': '3.65%'}

                           regularMarketChange      rank exchange  \
symbol
AAPL        {'raw': 0.51000977, 'fmt': '0.51'}  172245.0      NMS
AMZN         {'raw': 1.5250015, 'fmt': '1.53'}  122155.0      NMS
AMD        {'raw': -1.4799957, 'fmt': '-1.48'}   97827.0      NMS
GOOG       {'raw': 0.040000916, 'fmt': '0.04'}   82985.0      NMS
F         {'raw': -0.28999996, 'fmt': '-0.29'}   81368.0      NYQ
...                                        ...       ...      ...
IZ.V     {'raw': -0.024999991, 'fmt': '-0.02'}   20001.0      VAN
IR75.VI   {'raw': -0.05000019, 'fmt': '-0.05'}   20001.0      VIE
22Z.BE    {'raw': -0.01999855, 'fmt': '-0.02'}   20001.0      BER
ZCT1.BE  {'raw': -0.002500005, 'fmt': '-0.00'}   20001.0      BER
ZAL1.DU     {'raw': 0.34999943, 'fmt': '0.35'}   20001.0      DUS

                            shortName quoteType  \
symbol
AAPL                       Apple Inc.    equity
AMZN                 Amazon.com, Inc.    equity
AMD      Advanced Micro Devices, Inc.    equity
GOOG                    Alphabet Inc.    equity
F                  Ford Motor Company    equity
...                               ...       ...
IZ.V       INTERNATIONAL ZEOLITE CORP    equity
IR75.VI    EB OE TL.Z./CARL ZEISS MED    equity
22Z.BE       ZEALAND PHARMA A/S  DK 1    equity
ZCT1.BE           ZIMTU CAPITAL CORP.    equity
ZAL1.DU        ZALANDO SE UNSP.ADR /2    equity

                        regularMarketPrice
symbol
AAPL      {'raw': 150.94, 'fmt': '150.94'}
AMZN     {'raw': 115.305, 'fmt': '115.31'}
AMD         {'raw': 66.48, 'fmt': '66.48'}
GOOG        {'raw': 99.21, 'fmt': '99.21'}
F           {'raw': 12.02, 'fmt': '12.02'}
...                                    ...
IZ.V         {'raw': 0.135, 'fmt': '0.14'}
IR75.VI       {'raw': 8.19, 'fmt': '8.19'}
22Z.BE      {'raw': 17.29, 'fmt': '17.29'}
ZCT1.BE     {'raw': 0.0725, 'fmt': '0.07'}
ZAL1.DU       {'raw': 9.95, 'fmt': '9.95'}

[50839 rows x 9 columns]>

In [57]:

symbols.index.nunique()

33047

In [62]:
symbols[symbols.index.str.contains('AAPL')]

,industryName,industryLink,regularMarketPercentChange,regularMarketChange,rank,exchange,shortName,quoteType,regularMarketPrice
symbol,,,,,,,,,
AAPL,Technology,https://finance.yahoo.com/sector/technology,"{'raw': 0.33903462, 'fmt': '0.34%'}","{'raw': 0.51000977, 'fmt': '0.51'}",172245.0,NMS,Apple Inc.,equity,"{'raw': 150.94, 'fmt': '150.94'}"
AAPL.NE,Technology,https://finance.yahoo.com/sector/technology,"{'raw': -1.3425702, 'fmt': '-1.34%'}","{'raw': -0.30999947, 'fmt': '-0.31'}",20065.0,NEO,APPLE CDR (CAD HEDGED),equity,"{'raw': 22.78, 'fmt': '22.78'}"
AAPL.MX,Technology,https://finance.yahoo.com/sector/technology,"{'raw': -1.2006527, 'fmt': '-1.20%'}","{'raw': -36.79004, 'fmt': '-36.79'}",20046.0,MEX,APPLE INC,equity,"{'raw': 3027.38, 'fmt': '3,027.38'}"
AAPL.BA,Technology,https://finance.yahoo.com/sector/technology,"{'raw': -2.5283527, 'fmt': '-2.53%'}","{'raw': -121.5, 'fmt': '-121.50'}",20026.0,BUE,APPLE INC,equity,"{'raw': 4684.0, 'fmt': '4,684.00'}"
AAPL34.SA,Technology,https://finance.yahoo.com/sector/technology,"{'raw': 0.60064054, 'fmt': '0.60%'}","{'raw': 0.47000122, 'fmt': '0.47'}",20013.0,SAO,APPLE DRN,equity,"{'raw': 78.72, 'fmt': '78.72'}"

In [63]:
stored_symbols = symbols[['industryName', 'rank', 'exchange', 'shortName', 'quoteType']]
import sqlite3 as sl
conn = sl.connect('../sqlite/lookup/symbols.db')
stored_symbols.to_sql('symbols', conn, if_exists='replace')
conn.commit()

In [13]:
all_symbols.info

<bound method DataFrame.info of               industryName                                       industryLink  \
0               Technology        https://finance.yahoo.com/sector/technology
1        Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
2               Technology        https://finance.yahoo.com/sector/technology
3   Communication Services  https://finance.yahoo.com/sector/communication...
4        Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
..                     ...                                                ...
45                     NaN                                                NaN
46       Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
47       Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
48       Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
49             Industrials       https://finance.yahoo.com/sector/industrials

             symbol            regularMarketPercentChange  \
0              AAPL   {'raw': 0.33903462, 'fmt': '0.34%'}
1              AMZN    {'raw': 1.3403072, 'fmt': '1.34%'}
2               AMD  {'raw': -2.1777453, 'fmt': '-2.18%'}
3              GOOG  {'raw': 0.040335704, 'fmt': '0.04%'}
4                 F  {'raw': -2.3558078, 'fmt': '-2.36%'}
..              ...                                   ...
45  SE0010948588.SG    {'raw': 2.5341074, 'fmt': '2.53%'}
46            B4F.F  {'raw': -5.5819507, 'fmt': '-5.58%'}
47    BALKRISHNA.NS    {'raw': -2.95858, 'fmt': '-2.96%'}
48           BSP.OL          {'raw': 0.0, 'fmt': '0.00%'}
49     BIRLAPREC.BO     {'raw': 4.260093, 'fmt': '4.26%'}

                     regularMarketChange    rank exchange  \
0     {'raw': 0.51000977, 'fmt': '0.51'}  172245      NMS
1      {'raw': 1.5250015, 'fmt': '1.53'}  122155      NMS
2    {'raw': -1.4799957, 'fmt': '-1.48'}   97827      NMS
3    {'raw': 0.040000916, 'fmt': '0.04'}   82985      NMS
4   {'raw': -0.28999996, 'fmt': '-0.29'}   81368      NYQ
..                                   ...     ...      ...
45   {'raw': 0.038999915, 'fmt': '0.04'}   20003      STU
46   {'raw': -1.8800011, 'fmt': '-1.88'}   20003      FRA
47         {'raw': -1.0, 'fmt': '-1.00'}   20003      NSI
48           {'raw': 0.0, 'fmt': '0.00'}   20003      OSL
49     {'raw': 1.9000015, 'fmt': '1.90'}   20003      BSE

                         shortName quoteType  \
0                       Apple Inc.    equity
1                 Amazon.com, Inc.    equity
2     Advanced Micro Devices, Inc.    equity
3                    Alphabet Inc.    equity
4               Ford Motor Company    equity
..                             ...       ...
45                    BHG Group AB    equity
46          BASIC-FIT N.V. EO -,06    equity
47              BALKRISHNA PAPER M    equity
48              BLACK SEA PROPERTY    equity
49  BIRLA PRECISION TECHNOLOGIES L    equity

                   regularMarketPrice
0    {'raw': 150.94, 'fmt': '150.94'}
1   {'raw': 115.305, 'fmt': '115.31'}
2      {'raw': 66.48, 'fmt': '66.48'}
3      {'raw': 99.21, 'fmt': '99.21'}
4      {'raw': 12.02, 'fmt': '12.02'}
..                                ...
45      {'raw': 1.578, 'fmt': '1.58'}
46      {'raw': 31.8, 'fmt': '31.80'}
47      {'raw': 32.8, 'fmt': '32.80'}
48       {'raw': 0.99, 'fmt': '0.99'}
49      {'raw': 46.5, 'fmt': '46.50'}

[10050 rows x 10 columns]>

In [14]:
all_symbols = all_symbols.drop_duplicates(subset=['symbol'])

In [15]:
all_symbols.info

<bound method DataFrame.info of               industryName                                       industryLink  \
0               Technology        https://finance.yahoo.com/sector/technology
1        Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
2               Technology        https://finance.yahoo.com/sector/technology
3   Communication Services  https://finance.yahoo.com/sector/communication...
4        Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
..                     ...                                                ...
45                     NaN                                                NaN
46       Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
47       Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
48       Consumer Cyclical  https://finance.yahoo.com/sector/consumer_cycl...
49             Industrials       https://finance.yahoo.com/sector/industrials

             symbol            regularMarketPercentChange  \
0              AAPL   {'raw': 0.33903462, 'fmt': '0.34%'}
1              AMZN    {'raw': 1.3403072, 'fmt': '1.34%'}
2               AMD  {'raw': -2.1777453, 'fmt': '-2.18%'}
3              GOOG  {'raw': 0.040335704, 'fmt': '0.04%'}
4                 F  {'raw': -2.3558078, 'fmt': '-2.36%'}
..              ...                                   ...
45  SE0010948588.SG    {'raw': 2.5341074, 'fmt': '2.53%'}
46            B4F.F  {'raw': -5.5819507, 'fmt': '-5.58%'}
47    BALKRISHNA.NS    {'raw': -2.95858, 'fmt': '-2.96%'}
48           BSP.OL          {'raw': 0.0, 'fmt': '0.00%'}
49     BIRLAPREC.BO     {'raw': 4.260093, 'fmt': '4.26%'}

                     regularMarketChange    rank exchange  \
0     {'raw': 0.51000977, 'fmt': '0.51'}  172245      NMS
1      {'raw': 1.5250015, 'fmt': '1.53'}  122155      NMS
2    {'raw': -1.4799957, 'fmt': '-1.48'}   97827      NMS
3    {'raw': 0.040000916, 'fmt': '0.04'}   82985      NMS
4   {'raw': -0.28999996, 'fmt': '-0.29'}   81368      NYQ
..                                   ...     ...      ...
45   {'raw': 0.038999915, 'fmt': '0.04'}   20003      STU
46   {'raw': -1.8800011, 'fmt': '-1.88'}   20003      FRA
47         {'raw': -1.0, 'fmt': '-1.00'}   20003      NSI
48           {'raw': 0.0, 'fmt': '0.00'}   20003      OSL
49     {'raw': 1.9000015, 'fmt': '1.90'}   20003      BSE

                         shortName quoteType  \
0                       Apple Inc.    equity
1                 Amazon.com, Inc.    equity
2     Advanced Micro Devices, Inc.    equity
3                    Alphabet Inc.    equity
4               Ford Motor Company    equity
..                             ...       ...
45                    BHG Group AB    equity
46          BASIC-FIT N.V. EO -,06    equity
47              BALKRISHNA PAPER M    equity
48              BLACK SEA PROPERTY    equity
49  BIRLA PRECISION TECHNOLOGIES L    equity

                   regularMarketPrice
0    {'raw': 150.94, 'fmt': '150.94'}
1   {'raw': 115.305, 'fmt': '115.31'}
2      {'raw': 66.48, 'fmt': '66.48'}
3      {'raw': 99.21, 'fmt': '99.21'}
4      {'raw': 12.02, 'fmt': '12.02'}
..                                ...
45      {'raw': 1.578, 'fmt': '1.58'}
46      {'raw': 31.8, 'fmt': '31.80'}
47      {'raw': 32.8, 'fmt': '32.80'}
48       {'raw': 0.99, 'fmt': '0.99'}
49      {'raw': 46.5, 'fmt': '46.50'}

[4313 rows x 10 columns]>

In [ ]:
df2.to_json('symbols_300_350.json', index=False, orient='table')

In [ ]:
import sqlite3 as sl
conn = sl.connect('../sqlite/lookup/symbols.db')
symbols.to_sql('Symbols', conn)

In [ ]:
df2.to_sql('symbols', con, index='symbol')

In [ ]:
df2

In [ ]:
df2.to_sql('symbols', con)

In [ ]:
con.execute("SELECT * FROM symbols WHERE symbol LIKE 'AEMD'")

In [ ]:
df3 = pd.read_sql('SELECT * from symbols')

In [ ]:
df3 = pd.read_sql('SELECT * from symbols', con)

In [ ]:
con.commit()

In [ ]:
con.execute('SELECT * FROM symbols where symbol LIKE ?', '%A%')

In [ ]:
con.execute('SELECT * FROM symbols where symbol LIKE "%A%"')